
<p><a href="/materials">Materials</a> / Category / <%= @category.name %> </p>


	<% @category.materials.each do |material| %>
    <img src="<%= material.file_url(:thumb) %>"><br>
    <p><%= material.name %></p>
	<%end%>
