<div>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <%end%>
</div>

<form action="/materials" method="POST" enctype="multipart/form-data">
  <label>Image:</label>
  <br>
  <input type="file" name="material[file]"/>
  <br>

  <label>Name:</label><br>
  <input type="text" name="material[name]"/>
  <br><br>

  <label>Purchase Location:</label><br>
  <input type="text" name="material[purchase_location]"/>
  <br><br>

  <label>Price:</label> <br>
  <input type="text" name="material[price]"/>
  <br><br>

  <label>Quantity:</label><br>
  <input type="text" name="material[quantity]"/>
  <br><br>

  <label>Serial:</label><br>
  <input type="text" name="material[serial]"/>
  <br><br>

  <label>Notes:</label><br>
  <textarea name="material[notes]" rows="4" cols="50"></textarea>
  <br><br>

    <label>Choose category:</label>
      <ul>
	      <% @user.materials.each do |material| %> 
	  			<% material.categories.each do |category| %>	
	  				<%@all_categories = category.name %>
	  				<%if @material_category.uniq.include? @all_categories%>
	  	        <li>
	  	          <input type="checkbox" name="material[category_ids][]" value="<%=category.id%>"> 
	  	            <%=category.name %>
	  	          </input>
	  	        </li>
	  	      <%end%>
	        <%end%>
	      <%end%>
      </ul>

    </br>
      <div>
        <label>or create a new category:</label><br>
        <input type="text" name="category[name]"></input>
      </div>
    <br>

    <input type="submit" id="submit" value="Create New Material"/>
  </div>
</form>