<!DOCTYPE html>
<html lang="en" style="background-color:#d4d4d4">

<img id="db-icon" src="images/db-icon.svg" style="position:relative">

<div style="background-color:#d4d4d4; margin-top: 22%;" class="container">

	<div class="login-message">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <%end%>
  </div>
	
	<form id="form-login" action="/login" method="POST">
		<p>
			<input type="text" name="username" id="username" placeholder="username"/>
		</p>

		<p>
			<input type="password" name="password" id="password" placeholder="password"/>
		</p>
		<br>

		<input id="login" type="submit" value="SIGN IN"/>
	</form>

	<p class="create-account"><a href="/signup">or create account</a></p>
</div>