<form id="form-login" action="/login" method="POST">
		<p>
			<input type="text" name="username" id="username" placeholder="username"/>
		</p>

		<p>
			<input type="password" name="password" id="password" placeholder="password"/>
		</p>
		<br>

		<input id="login" type="submit" value="SIGN IN"/>
</form>

<p><a href="/signup">or create account</a></p>