<div>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <%end%>
</div>

<form id="form-login" action="/signup" method="POST">
		<p>
			<input type="text" name="username" id="username" placeholder="username"/>
		</p>

		<p>
			<input type="password" name="password" id="password" placeholder="password"/>
		</p>
		<br>

		<input id="login" type="submit" value="CREATE ACCOUNT"/>
</form>