<div class="welcome-container">

  <div class="inner-container">
    <div class="welcome-row">
      <div class="welcome-actions">
        <div class="welcome-block" id="xxx">
          <a href="/materials">
            <p>View Materials<br>
              <span><i style="font-size:14pt; top:12px;" class="material-icons">&#xe417;</i></span>
            </p>
          </a>
        </div>
      
        <div class="welcome-block">
          <a href="/artworks">
            <p>View Artworks<br>
              <i style="font-size:14pt; top:12px;" class="material-icons">&#xe417;</i>
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="welcome-row">
      <div class="welcome-actions">
        <div class="welcome-block">
          <a href="/materials/new">
            <p>Add Material<br>
              <i style="font-size:14pt; top:12px;" class="material-icons">&#xe145;</i>
            </p>
          </a>
        </div>

        <div class="welcome-block">
          <a href="/artworks/new">
            <p>Add Artwork<br>
              <i style="font-size:14pt; top:12px;" class="material-icons">&#xe145;</i>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>